@import url("https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #ffd700;
  --dark: #050505;
  --light: #f5f5f5;
  --overlay: rgba(5, 5, 5, 0.9);
  --font-head: "Teko", sans-serif;
  --font-sub: "Teko", sans-serif;
  --font-body: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--font-body);
  overflow-x: hidden;
}

.section-header {
  text-align: center;
  margin-bottom: 4rem;

  .sub-title {
    color: var(--primary);
    font-family: var(--font-sub);
    font-size: 1.2rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-family: var(--font-head);
    font-size: 3.5rem;
    color: var(--light);
    text-transform: uppercase;
    line-height: 1;
  }
  @media (max-width: 500px) {
    h2 {
      font-size: 2rem;
    }
  }
}
