.navbar{
    background-color:var(--dark);
    display: flex;
    justify-content: space-between;
    height:60px;
    margin-bottom: 20px;
    align-items: center;
    img{
        max-height: 100%;
    }
    svg{
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
    }
}